
/*顶部开始*/
.home{
	height: 195px;
}
.hdtop{
	height: 34px;
    border-bottom: 1px solid #fff;
    background-color: #eee;
}
.top-side{
	width: 1190px;
	height: 34px;
	margin: 0 auto;
}
.top-entry{
	width: 332px;
	height: 34px;
	float: left;
	padding-left: 4px;
	/*background: red;*/
}
.log-yt-o{
	width: 87px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 12px;
	color: #666;
	position: relative;
	float: left;
}
.log-yt-o a{
	width: 48px;
	height: 34px;
	float: left;
	color: #666;
    line-height: 34px;
    padding-left: 27px;
    margin: 0 6px;
}
.log-yt-o s{
	position: absolute;
    top: 7px;
    left: 6px;
    z-index: 10;
    width: 21px;
    height: 21px;
    background: url(../img/xt.png);
    background-position: -225px 0;
}
.top-entry span{
	float: left;
    width: 0;
    height: 14px;
    line-height: 14px;
    position: relative;
    top: 10px;
    left: 0;
    font-size: 0;
    overflow: hidden;
    border-left: 1px solid #ccc;
    margin: 0 4px;
}
.log-yt-wx{
	width: 79px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 12px;
	color: #666;
	position: relative;
	float: left;
}
.log-yt-wx a{
	width: 40px;
	height: 34px;
	float: left;
	color: #666;
    line-height: 34px;
    padding-left: 31px;
}
.log-yt-wx s{
	position: absolute;
    top: 7px;
    left: 6px;
    z-index: 2;
    width: 21px;
    height: 21px;
    background: url(../img/xt.png);
    background-position: -225px -57px;
}
.top-entry a:hover{
	color: #E5004F;
    background: #fff;
}
.log-yt-o a:hover{
    background: none;
}
.hidden{
    position: absolute;
    width: auto;
    top: 34px;
    padding: 8px 12px 12px 12px;
    display: none;
    z-index: 20;
}
.hiddens{
    position: absolute;
    width: auto;
    top: 34px;
    display: none;
    z-index: 20;
}
.log-yt-wx:hover .hidden{
    display: block;
}
.log-yt-sj:hover .hiddens{
    display: block;
}
.log-yt-sj .hidden{
    position: absolute;
    left: -25px;
    top:100%;
}
.log-yt-sj{
	width: 148px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	color: #666;
	position: relative;
	float: left;
}
.log-yt-sj a{
	width: 72px;
	height: 34px;
	color: #666;
	float: left;
    line-height: 34px;
    padding-left: 28px;
}
.log-yt-sj s{
    display: block;
    overflow: hidden;
    width: 13px;
    height: 20px;
	position: absolute;
    top: 7px;
    left: 6px;
    z-index: 2;
    background: url(../img/s1.png);
    background-position:0 0;
}
.top-logs{
	float: right;
	width: 490px;
	height: 34px;
}
.log-user{
	width: 186px;
	height: 34px;
	padding-right: 10px;
	float: left;
	text-align: center;
	line-height: 34px;
	font-size: 12px;
	color: #666;
	overflow: hidden;
}
.separator{
	float: left;
    width: 0;
    height: 14px;
    line-height: 14px;
    position: relative;
    top: 10px;
    left: 0;
    font-size: 0;
    overflow: hidden;
    border-left: 1px solid #ccc;
    margin: 0 2px;
}
.log-user span{
	float: left;
}
.log-user a{
	float: left;
	color: #666;
	text-align: center;
	margin-right: 8px;
}
.top-logs a:hover{
	color: #E5004F;
    /*background: none;*/
}
.log-link{
	float: left;
    height: 26px;
    padding: 8px 10px 0;
    font-size: 12px;
    color: #666;
    text-align: center;

}
.log-ll:hover{
    background: #fff;
}
.hiddend{
    position: absolute;
    width: auto;
    top: 34px;
    right: 212px;
    display: none;
    z-index: 10000;
}
.yt-home-link{
    width: 82px;
    background: #fff;
}
.log-yt-home:hover .hiddend{
    padding: 0;
    display: block;
}
.yt-home-link p{
    height: 29px;
    border-bottom: 1px solid #DCDCDC;
}
.yt-home-link p a{
    position: absolute;
    left: 10px;
    font-size: 12px;
    color: #666;
}
.yt-home-link p a:hover{
    color: #E5004F;
    text-decoration: underline;
}



.log-lik:hover{
	background:#fff;
	color: #E5004F;
}
.hdmain{
	height: 120px;
}
.yt-wrap{
	width: 1190px;
	height: 120px;
	margin: 0 auto;
}
.ilogo{
    float: left;
    width: 215px;
    height: 76px;
    margin-top: 21px;
    background: url(../img/xt.png);	
    background-position: 0 0;
}
.itype{
	float: left;
    width: 145px;
    height: 80px;
    margin-top: 18px;
    overflow: hidden;
}
.line{
	float: left;
    width: 0px;
    height: 70px;
    margin: 6px 10px 0;
    overflow: hidden;
    border-left: 1px solid #efefef;
}
.gouwuche{
	float: right;
    width: 160px;
    height: 34px;
    margin: 40px 0 0 18px;
    position: relative;
    z-index: 402;
    background: url(../img/xt.png) ;
	z-index:1000;
	background-position:-55px -76px; 
}
.gouwuche a{
	display: block;
	text-align: center;
	line-height:34px;
	color: #fff;
	font-size: 14px;
}
.gouwuche strong{
	color: red;
}
.gouwuche span{
    float: left;
    height: 34px;
    line-height: 34px;
    padding-left: 48px;
    color: #fff;
}
.gouwuche b{
    float: right;
    margin-right: 20px;
    margin-top: 16px;
    width: 7px;
    height: 4px;
    overflow: hidden;
    background: url(../img/xt.png) -189px -111px;
}
.yt-bags{
    width: 290px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 34px;
    z-index:10000;
    background: #fff;
    display: none;
}
.minicartimg{
    position: absolute;
    width: 290px;
    text-align: center;
    top: 10px;
    background: #fff;
    /*display: none;*/
}
.yt-bags-nothing{
    width: 290px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 12px;
    color: #666;
    background: #fff;
    z-index: 1000;
}


.isearch{
	float: right;
    width: 498px;
    height: 60px;
    margin-top: 40px;
    position: relative;
    z-index: 401;
}
.place-holder{
    float: left;
    width: 440px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    float: left;
    background: transparent;
    border: none;
    color: #888;
}
.searchbox{
	width: 494px;
    height: 30px;
    margin-bottom: 8px;
    border: 2px solid #323333;
}
.searchbox a{
    float: left;
    width: 44px;
    height: 30px;
    overflow: hidden;
    background: #323333 url(../img/xt.png) 0 -78px;	
}
.hotkryword{
	width: 498px;
    height: 18px;
    overflow: hidden;
}
.hotkryword a{
    float: left;
    display: block;
    font-size: 12px;
    margin-right: 12px;
    color: #888;
}
#biansea{
	color:#E5004F;
}
#bianseb{
	color:#E5004F;
}
#biansec{
	color:#E5004F;
}
.hotkryword a:hover{
	color:#E5004F;
	text-decoration: underline; 
}
#hdmenu{
	height: 39px;
	background: #fff;
	border-bottom: 1px solid #2d2e2e;
}
.yt-watp{
	width: 1190px;
	height: 39px;
	margin:0 auto;
}
.menu-cate{
	float: left;
    width: 210px;
    height: 39px;
    position: relative;
}
.menu-cate-title{
    position: absolute;
    z-index: 2;
    width: 210px;
    height: 39px;
    display: block;
    float: left;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    line-height: 39px;
    background: #222;	
}




.menu-cate-all-out{
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 2000;
    width: 210px;
    height: 470px;
    border-top: 1px solid #222;
    background: #515151;
}
.menu-cate-all-out dl{
    display: block;
    float: left;
    width: 210px;
    height: 46px;
    margin: 0;
    margin-bottom: 1px;
    color: #666;
}
.menu-cate-all-out dl:hover dt{
    background: #E5004F;
}
.menu-cate-all-out dl dt{
    float: left;
    width: 210px;
    height: 30px;
    padding-top: 16px;
    background: #333;
}
.menu-cate-all-out dl dt a{
    float: left;
    color: #fff;
}
.menu-cate-all-out dl dt a.category{
    margin-left: 18px;
    display: inline;
    height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 18px;
}
.menu-cate-all-out dl dt a em{
    float: left;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 7px;
    background-image: url(../img/xt.png);
    background-repeat: no-repeat;
}
.menu-cate-all-out dl.dl-12 dt a em{
    background-position: 0 -108px;
}
.menu-cate-all-out dl.dl-12:hover em{
    background-position: 0 -126px; 
}
.menu-cate-all-out dl dt i{
    float: left;
    width: 0;
    height: 16px;
    line-height: 16px;
    border-left: 1px solid #999;
    margin: 2px 8px 0 8px;
}
.menu-cate-all-out dl dt a.hot{
    height: 20px;
    font-size: 12px;
    line-height: 20px;
}
.menu-cate-all-out dl dt a.hot:hover{
    text-decoration: underline;
}
.menu-cate-all-out dl dt span{
    float: right;
    width: 6px;
    height: 11px;
    margin: 5px 15px 0 0;
    background-image: url(../img/xt.png);
    background-position: -209px -111px;
    background-repeat: no-repeat;
}
.menu-cate-all-out dl:hover dd{
    display: block;
}
.menu-cate-all-out dl dd{
    position: absolute;
    top: 0;
    left: 210px;
    z-index: 1000;
    margin: 0;
    display: none;
}
.top-menu .submenu{
    width: 495px;
    float: left;
    padding-bottom: 10px;
    background-image: url(../img/s3.png);
    background-position: 0 0;
    background-repeat: repeat-y;
    opacity: 0.9;
}
.sort-list{
    float: left;
    width: 295px;
    margin: 0;
    padding: 8px 20px 0;
}
.sorts-repeat{
    padding: 8px 0 7px 0;
    line-height: 20px;
    border-bottom: 1px dotted #666;
}
.sorts-repeat h3{
    width: 295px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}
.sorts-repeat h3 a{
    color: #fff;
}
.sorts-repeat p{
    width: 295px;
    font-size: 12px;
}
.sorts-repeat p .yt-hotkey-1{
    color: #fff;
}
.yt-hotkey{
    color:#E5004F; 
}
.sorts-repeat p a{
    margin-right: 10px;
}
.sorts-repeat p a:hover{
    color: #E5004F;
}
.sorts-none{
    border: 0;
}
.sorts-brand{
    float: left;
    width: 145px;
    padding: 15px 0 15px 15px;
}
.sorts-brand h3{
    width: 130px;
    height: 26px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px dotted #666;
}
.sorts-brand p{
    width: 130px;
}
.sorts-brand p a{
    float: left;
    margin-right: 10px;
    color: #fff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.sorts-brand p a:hover{
    color: #E5004F;
}
.menu-cate-all-out dl.dl-1 dt a em{
    background-position: -17px -110px;
}
.menu-cate-all-out dl.dl-1:hover em{
    background-position: -17px -128px; 
}
.menu-cate-all-out dl.dl-2 dt a em{
    background-position: -34px -110px;
}
.menu-cate-all-out dl.dl-2:hover em{
    background-position: -34px -128px; 
}
.menu-cate-all-out dl.dl-3 dt a em{
    background-position: -51px -110px;
}
.menu-cate-all-out dl.dl-3:hover em{
    background-position: -51px -128px; 
}
.menu-cate-all-out dl.dl-4 dt a em{
    background-position: -68px -110px;
}
.menu-cate-all-out dl.dl-4:hover em{
    background-position: -68px -128px; 
}
.menu-cate-all-out dl.dl-5 dt a em{
    background-position: -85px -110px;
}
.menu-cate-all-out dl.dl-5:hover em{
    background-position: -85px -128px; 
}
.menu-cate-all-out dl.dl-6 dt a em{
    background-position: -102px -111px;
}
.menu-cate-all-out dl.dl-6:hover em{
    background-position: -102px -129px; 
}
.menu-cate-all-out dl.dl-7 dt a em{
    background-position: -119px -111px;
}
.menu-cate-all-out dl.dl-7:hover em{
    background-position: -119px -129px; 
}
.menu-cate-all-out dl.dl-8 dt a em{
    background-position: -136px -111px;
}
.menu-cate-all-out dl.dl-8:hover em{
    background-position: -136px -129px; 
}
.menu-cate-all-out dl.dl-9 dt a em{
    background-position: -153px -111px;
}
.menu-cate-all-out dl.dl-9:hover em{
    background-position: -153px -129px; 
}
.menu-cate-all-out dl.dl-9 dd{
    top: 52px;
}










.nav-hr{
	float: left;
	width: 522px;
    height: 39px;
    /*background: pink;*/
    padding-left: 20px;
}
.nav-hr li{
	float: left;
    height: 39px;
    padding: 0 15px;
    text-align: center;
    line-height: 39px;
}
.horiNav a{
	display: block;
    float: left;
    height: 37px;
    padding: 0 10px;
    overflow: hidden;
    color: #323333;
    text-align: center; 

}
.nav-rr{
    float: right;
    width: 149px;
    height: 38px;
    padding-top: 1px;
    color: #cbcbcb;	
}
.nav-rr a{
	display: block;
	float: left;
	font-size: 14px;
	text-align: center;
	line-height: 38px;
	padding: 0 8px;
	color: #666;
}
.nav-rr span{
	display: block;
	float: left;
	font-size: 14px;
	text-align: center;
	line-height: 38px;
} 
.horiNav a:hover{
	color: #E5004F;
	border-bottom: 3px solid #E5004F;
}
.nav-rr a:hover{
	color: #E5004F; 
}

/*banner开始*/
.tab-nav{
    position: relative;
}
.pannels{
    width: 100%;
    height: 470px;
    position: relative;
}
.banner{
    width: 100%;
    height: 470px;
    position: absolute;
    z-index: 0;
    cursor: pointer;
}
.bannerf{
    z-index: 1;
}
.zimg{
    width: 100%;
    height: 470px;
    overflow: hidden;
    position: absolute;
}
.zimg img{
    width: 100%;
    height: 100%;
}
.img{
    width: 1190px;
    height: 470px;
    margin: 0 auto;
    position: relative;
}
.prev{
    width: 1190px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    z-index:5000;
    top: 205px;
    cursor: pointer;
}
.le{
    display: block;
    float: left;
    width: 30px;
    height: 60px;
    z-index: 50000;
    margin-left: 210px;
    background-image: url(../img/prevnext.png);
    cursor: pointer;
}
.ri{
    display: block;
    float: right;
    z-index: 50000;
    width: 30px;
    height: 60px;
    margin-right: 210px;
    background-image: url(../img/prevnext.png);
    background-position: -30px 0; 
    cursor: pointer;
}
.rect-box{
    width: 1190px;
    position: absolute;
    z-index: 1000;
    left:280px;
    bottom: 30px;
}
.rect{
    width: 200px;
    height: 8px;
    position: absolute;
    margin: auto;
    left: 250px;
}
.dian{
    float: left;
    width: 30px;
    height: 8px;
    margin-right: 2px;
    background: #211616;
    cursor: pointer;
}
.focus-pic{
    position: relative;
    height: 0;
}
.f-pic{
    width: 200px;
    height: 470px;
    position: absolute;
    top: -470px;
    right: 0;
    z-index: 1000;
    transition:all 1s;
}
.f-pic:hover{
    margin-right: 10px;
}
.f-pic a{
    display: block;
}







/*one开始*/
.brand-contentRec{
    position: relative;
    padding-top: 30px;
    height: 325px;
    margin-bottom: 25px;
}
.brand-content{
    width: 910px;
    float: left;
    overflow: hidden;
}
.yt-notice{
    float: right;
    width: 270px;
    height: 324px;
}
.brand-content-top{
    display: block;
    width: 910px;
}
.brand-content-top li{
    float: left;
    width: 303px;
    height: 47px;
    border-bottom: 5px solid #333;
    position: relative;
}
.brand-content-top li a{
    display: block;
    width: 304px;
    height: 47px;
    text-align: center;
    color: #000;
    line-height: 47px;
    font-size: 16px;
}
.brand-content-top li:hover{
    border-bottom: 5px solid #E5004F;
}
.brand-content-top li:hover a{
    font-weight: bold;
}
.bctf{
    border-bottom: 5px solid #E5004F;
}
.bctf span{
    position: absolute;
    width: 7px;
    height: 4px;
    left: 143px;
    top: 43px;
    background-image: url(../img/yt_ico.png);
    background-position: 0 -16px;
    display: block;
    z-index: 10;
}
.bctf a{
    font-weight: bold;
}
.brand-content-bottom{
    position: absolute;
    top: 77px;
    width: 910px;
    overflow: hidden;
    z-index: 1;
}
.bcbfi{
    z-index: 2;
}
.brand-content-bottom .pr-list-t{
    padding-top: 10px;
    width: 940px;
    height: 262px;
}
.border-animation{
    border: 1px solid #eee;
    width: 220px;
    height: 260px;
    float: left;
    margin-right: 7px;
    background: #fff;
    position: relative;
}
.border-top{
    position: absolute;
    height: 1px;
    width: 0;
    background: #666;
    top: 0;
    left: 0;
    transition: all 0.4s;
}
.border-bottom{
    position: absolute;
    height: 1px;
    width: 0;
    background: #666;
    bottom: 0;
    right: 0;
    transition: all 0.4s;
}
.border-right{
    position: absolute;
    height: 0;
    width: 1px;
    background: #666;
    bottom: 0;
    right: 0;
    transition: all 0.4s;
}
.border-left{
    position: absolute;
    height: 0;
    width: 1px;
    background: #666;
    top: 0;
    left: 0;
    transition: all 0.4s;
}
.border-animation:hover .border-left{
    height: 260px;
}
.border-animation:hover .border-right{
    height: 260px;
}
.border-animation:hover .border-top{
    width: 220px;
}
.border-animation:hover .border-bottom{
    width: 220px;
}
.pr-pic{
    background: #fff;
    text-align: center;
}
.pr-pic a{
    display: block;
}
.pr-pic p{
    padding-left: 12px;
    height: 20px;
    width: 198px;
    background: #fff;
    overflow: hidden;
}
.pr-pic p .pic-info{
    font-size: 12px;
    color: #666;
    height: 20px;
    line-height: 20px;
}
.pr-pic p strong{
    font-size: 14px;
    color: #E5004F;
    background: #fff;
}
.pr-pic p span{
    font-size: 12px;
    color: #909090;
    margin-left: 10px;
    background: #fff;
}



.yt-notice{
	width: 270px;
	height: 324px;
	overflow: hidden;
	float: right;
}
.advert-section{
    width: 270px;
    height: 300px;
    overflow: hidden;
    margin-top: 24px;
	background: red;
}
/*图片开始*/
.yt-wp{
	width: 1190px;
	height: 80px;
	margin: 0 auto;
	margin-top: 30px;
}
/*百汇开始*/
.baihui{
	width: 1190px;
    height: 624px;
    overflow: hidden;
    /*background: pink;*/
    margin: 0 auto;
    margin-top: 36px;
}
.baihui-top{
    width: 1190px;
    height: 46px;
}
.baihui-cf{
	width: 1168px;
	height: 555px;
    border: 1px solid #eee;
    padding: 10px;	
}
.baihui-left{
	width: 340px;
	height: 555px;
	float: left;
	overflow: hidden;
}
.baihui-right{
    float: right;
    width: 815px;
    height: 555px;	
}
.tk-nav{
	border-bottom: 3px solid #333;
    position: relative;
    height: 35px;
    width: 810px;
}
.tk-nav a{
    float: left;
    width: 102px;
    height: 35px;
    border-bottom: 3px solid #333;
    text-align: center;
    line-height: 35px;
    color: #414141;
    position: relative;
    font-size: 14px;
}
.tk-nav a:hover{
	font-weight: bold;
	border-bottom: 3px solid #E70050;
}
.baihui-eva{
    height: 517px;
    float: none;
    overflow: hidden;
}
.pro-first{
    height: 517px;
    width: 820px;
    position: absolute;
    z-index: 1;
    background: #fff;
}或文字
.pro-firs2{
    height: 517px;
    width: 820px;
    position: absolute;
    background: #fff;
}
.baihui-a1{
    width: 220px;
    height: 250px;
    margin-top: 4px;
    margin-right: 5px;
    display: block;
    float: left;
    overflow: hidden;	
}
.baihui-a2{
    width:360px;
    height: 250px;
    margin-top: 4px;
    margin-right: 5px;
    display: block;
    float: left;
    overflow: hidden;	
}
.baihui-a3{
    width:220px;
    height: 250px;
    margin-top: 4px;
    margin-right: 5px;
    display: block;
    float: left;
    overflow: hidden;	
}
.baihui-a4{
    width:290px;
    height: 260px;
    margin-top: 4px;
    margin-right: 5px;
    display: block;
    float: left;
    overflow: hidden;	
}
.baihui-a5{
    width:240px;
    height: 260px;
    margin-top: 4px;
    margin-right: 5px;
    display: block;
    float: left;
    overflow: hidden;	
}
.baihui-a6{
    width:270px;
    height: 260px;
    margin-top: 4px;
    margin-right: 5px;
    display: block;
    float: left;
    overflow: hidden;	
}
.baihui-xp{
    margin-top: 7px;
}
.baihui-bor{
    width: 197px;
    overflow: hidden;
    border: 1px solid #eee;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;    
}
.img-warps{
    width: 197px;
    height: 200px;
    overflow: hidden    
}
.img-warps img{
    margin: 0 auto;
    margin-left: 24px;
    margin-right: 24px;
}
.pro-list-xp{
    background-color: #f8f8f8;
    padding: 5px;    
}
.list-xp-title{
    height: 20px;
    overflow: hidden;
    position: relative;
}
.list-xp-title a{
    font-size: 12px;
    color: #323232;
    text-decoration: underline;    
}
.yintai-price{
    color: #e5004f;
    font-size: 12px;
}
.shishang-price{
    text-decoration: line-through;
    position:relative;
    top: 4px;
    right: 5px;
    float: right;
    color: #a7a7a7;
    font-size: 12px;
}

.border-tp{
    position: absolute;
    height: 1px;
    width: 0;
    background: #666;
    top: 0;
    left: 0;
    transition: all 0.4s;
}
.border-bm{
    position: absolute;
    height: 1px;
    width: 0;
    background: #666;
    bottom: 0;
    right: 0;
    transition: all 0.4s;
}
.border-rt{
    position: absolute;
    height: 0;
    width: 1px;
    background: #666;
    bottom: 0;
    right: 0;
    transition: all 0.4s;
}
.border-lt{
    position: absolute;
    height: 0;
    width: 1px;
    background: #666;
    top: 0;
    left: 0;
    transition: all 0.4s;
}
.baihui-bor:hover .border-lt{
    height: 248px;
}
.baihui-bor:hover .border-rt{
    height:248px;
}
.baihui-bor:hover .border-tp{
    width:198px;
}
.baihui-bor:hover .border-bm{
    width:198px;
}





/*一楼开始*/
.yt-floor{
	width: 1190px;
    height: 418px;
    margin: 0 auto;
    margin-top: 36px;
    overflow: hidden;
/*    background: pink;*/	
}
.floor-top{
    width: 1190px;
    height: 46px;
    overflow: hidden;	
}
.floor-nav{
    float: left;
    width: 228px;
    height: 370px;
    margin-right: 8px;
    border: 1px solid #eee;
}
.floor-nav-cate{
    padding: 16px 0 0 8px;
    width: 220px;
    height: 172px;	
}
.floor-nav-cate li{
    float: left;
    width: 67px;
    height: 32px;
    margin: 0 5px 5px 0;
    display: inline;	
}
.floor-nav-cate a{
    display: block;
    border: 1px solid #eee;
    width: 65px;
    height: 32px;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    color: #666;
    overflow: hidden;	
}
.floor-nav-cate li a:hover{
    background: #E5004F;
    color: #fff;
}

.floor-nav-barnds{
    width: 200px;
    height: 140px;
    background: #f2f2f2;
    border-top: 1px dashed #969696;
    margin-left: 15px;
    position: relative;
    overflow: hidden;	
}
.scroller{
    width: 160px;
    height: 116px;
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
    position: relative;	
}
.eva-panel{
	width: 1020px;
	height: 116px;
    overflow: visible;
    position: absolute;
}
.block{
    width: 170px;
    height: 116px;
    display: block;
    float: left;    	
}
.block a{
	float: left;
	overflow: hidden;
    width: 75px;
    height: 50px;
    display: block;	
    position: relative;
    margin:0 5px 5px 0;
}
.block img{
	position: absolute;
	left:-8px;
	top:-3px;
}
.left{
    display: block;
    position: absolute;
    width: 14px;
    height: 139px;
    left: 5px;
    top: 0;
    z-index: 10;
    background-image: url(../img/yt_ico_1.png);
    background-position: 0 center;
    background-repeat: no-repeat;
}
.left:hover{
    background-position: -14px center;
}
.right{
    display: block;
    position: absolute;
    width: 14px;
    height: 139px;
    left: 180px;
    top: 0;
    z-index: 10;
    background-image: url(../img/yt_ico_1.png);
    background-position: -28px center;
    background-repeat: no-repeat;
}
.right:hover{
    background-position: -42px center;
}

.floor-slide{
	position: relative;
    width: 390px;
    height: 370px;
    border: 1px solid #eee;
    float: left;
    overflow: hidden;	
}
.floor-b-panner{
    width: 390px;
    height: 370px;
    overflow: hidden;
    position: relative;
}
.floor-b-panner .img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.imgf{
    z-index: 1;
}
.floor-slide-trigger{
    position: absolute;
    bottom: 16px;
    left: 180px;
    height: 13px;
    z-index: 100;	
}
.circles{
    float: left;
    width: 13px;
    height: 13px;
    z-index: 20;
    margin-right: 5px;
    cursor: pointer;	
    background:#6E6E6E;
    border-radius: 50%
}
.circlef{
    background: #B61B1F;
}
.floor-b-panner:hover .floor-left{
    left: 0;
}
.floor-left:hover{
    opacity: 1;
}
.floor-left{
    position: absolute;
    top: 155px;
    width: 30px;
    height: 60px;
    z-index: 100;
    overflow: hidden;
    background: #000;
    color: #fff;
    left:-30px;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    transition:all 0.5s;
    opacity: 0.7;
}
.floor-right{
    position: absolute;
    top: 155px;
    width: 30px;
    height: 60px;
    right:-30px;
    overflow: hidden;
    opacity: 0.7;
    background: #000;
    color: #fff;
    z-index: 100;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    transition:all 0.5s;	
}
.floor-b-panner:hover .floor-right{
    right: 0;
}
.floor-right:hover{
    opacity: 1;
}
.floor-banner{
    float: right;
    width: 552px;
    height: 372px;
    overflow: hidden;	
}
.floor-banner-main{
    width: 560px;
    height: 380px;
}
.product-block{
    float: left;
    width: 280px;
    height: 190px;	
}
.border-animations{
    position: relative;
    width: 272px;
    height: 182px;
    float: left;	
}

.border-t{
    position: absolute;
    height: 1px;
    width: 0;
    background: #666;
    top: 0;
    left: 0;
    transition: all 0.4s;
}
.border-b{
    position: absolute;
    height: 1px;
    width: 0;
    background: #666;
    bottom: 0;
    right: 0;
    transition: all 0.4s;
}
.border-r{
    position: absolute;
    height: 0;
    width: 1px;
    background: #666;
    bottom: 0;
    right: 0;
    transition: all 0.4s;
}
.border-l{
    position: absolute;
    height: 0;
    width: 1px;
    background: #666;
    top: 0;
    left: 0;
    transition: all 0.4s;
}
.border-animations:hover .border-l{
    height: 180px;
}
.border-animations:hover .border-r{
    height:180px;
}
.border-animations:hover .border-t{
    width:270px;
}
.border-animations:hover .border-b{
    width: 270px;
}


.img-warp{
    width: 270px;
    height: 180px;
    border: 1px solid #eee;	
}


/*2底开始*/
.yt-card{
    height: 167px;
    margin: 34px auto;
    border: 1px solid #eee;
    overflow: hidden; 
    /*background: red;*/
    width: 1190px;
    margin: 0 auto; 
    margin-top: 34px;
    margin-bottom: 34px;  
}
.public-one{
    width: 395px;
    float: left;
    height: 165px;
    cursor: pointer;
    overflow: hidden;    
}
.public-tow{
    float: left;
    width: 396px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.public-three{
    width: 395px;
    float: left;
    height: 165px;
    cursor: pointer;
    overflow: hidden;    
}
/*底部开始*/
#ft{
    position: relative;
    width: 1190px;
    height: 290px;
    margin:0 auto;
    margin-top: 50px;
    padding-top: 20px;   
}
.itips{
    width: 1188px;
    height: 88px;
    margin-bottom: 35px;
    border: 1px solid #eee;
    background-color: #f7f7f7;
}
.service{
    float: left;
    width: 282px;
    height: 68px;
    padding: 20px 0 0 45px;
    border-right: 1px solid #eee;
}
.service strong{
    display: inline-block;
    padding: 0 20px 0 24px;
    font-size: 20px;
    font-family: Arial;
    color: #e5004f;
    background: url(../img/d/a1.png) 2px 0 no-repeat;
}
.service i{
    font-style: normal;
    font-size: 12px;
    color: #666;
}
.service b{
    font-weight: 400;
    color: #888;
    padding-left: 24px;
    font-size: 14px;
    font-family: Arial;
    background: url(../img/d/a1.png) 0 -28px no-repeat;    
}
.delivery{
    float: left;
    border-right: 1px solid #eee;
    width: 186px;
    height: 65px;
    padding: 23px 0 0 100px;
    background: url(../img/d/a1.png) 52px -56px no-repeat;    
}
.delivery i{
    font-style: normal;
    color: #e5004f;    
}
.delivery strong{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.delivery b{
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    color: #888;
}
.genuine{
    float: left;
    border-right: 1px solid #eee;
    width: 186px;
    height: 65px;
    padding: 23px 0 0 100px;
    background: url(../img/d/a1.png) 52px -132px no-repeat;    
}
.genuine i{
    font-style: normal;
    color: #e5004f;    
}
.genuine strong{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.genuine b{
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    color: #888;
}
.freight{
    float: left;
    width: 140px;
    height: 65px;
    padding: 23px 0 0 100px;
    background: url(../img/d/a1.png) 40px -203px no-repeat;    
}
.freight i{
    font-style: normal;
    color: #e5004f;    
}
.freight strong{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.freight b{
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    color: #888;
}
.ilinks{
    text-align: center;
    width: 1190px;
    margin: 0 auto;
    height: 18px;
    margin-bottom: 25px;    
}
.ilinks a{
    padding: 0 7px 0 7px;
    color: #757575;
    font-size: 12px;
    line-height: 18px;
}
.ilinks a:hover{
    color: #E5004F;
}
.ilinks span{
    font-size: 12px;
    color: #757575;
}
.copyright{
    width: 1190px;
    margin: 0 auto;
    text-align: center;    
}
.copyright p{
    line-height: 22px;
    color: #b2b2b2;
    text-align: center;
    font-size: 12px;
}
.copyright a{
    font-size: 12px;
    margin: 0 6px;
    color: #b2b2b2;    
}
.all-mark{
    padding: 10px 0 20px;
    width: 1190px;
    height: 48px;
    margin: 0 auto;
    overflow: hidden;
    line-height: 48px;
    text-align: center;   
}
.listone{
    width: 112px;
    height: 40px;
    display: inline-block;
    margin: 0 12px;
    position: relative;
    top: -3px;
}
.listtow{
    width: 102px;
    height: 40px;
    display: inline-block;
    margin: 0 12px;
    overflow: hidden;
    position: relative;
    top: -3px;
}
.listsan{
    width: 48px;
    height: 48px;
    display: inline-block;
    margin: 0 12px;
    overflow: hidden;
}

.float{
    width: 50px;
    height: 545px;
    position: fixed;
    right: 0px;
    background-image: url(../img/float.png);
    opacity: 0;
    overflow: hidden;
}
.float li{
    width: 30px;
    height: 30px;
    padding: 5px 10px 15px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
}
.float a{
    float: left;
    width: 30px;
    height: 30px;
    padding: 5px 10px 15px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
}

